.place__url-link {
    font-size: 18px;
    line-height: 1.22;
    color: white;
}

.place__url-link:hover {
    text-decoration: none;
    opacity: .8;
    transition: opacity .4s;
}

@media screen and (max-width: 320px) {
    .place__url-link {
        margin-left: 16px;
    }
}