.place__url-header {
    margin: 0;
    padding-bottom: 12px;
    font-size: 12px;
    line-height: 1.7;
    letter-spacing: 2px;
    color: #AAAAAA;
}

@media screen and (max-width: 768px) {
    .place__url-header {
        line-height: 1;
    }
}

@media screen and (max-width: 320px) {
    .place__url-header {
        margin-left: 16px;
    }
}
