.cover__text {
    position: relative;
    text-align: center;
    z-index: 3;
    padding: 245px 0;
}

@media screen and (max-width: 1024px) {
    .cover__text {
        padding: 195px 0;
    }
}

@media screen and (max-width: 768px) {
    .cover__text {
        padding: 115px 0;
    }
}

@media screen and (max-width: 320px) {
    .cover__text {
        padding: 33px 0;
    }
}