.cover {
    position: relative;
    background-image: url(../../../images/cover.jpg);
    background-size: cover;
    background-position: center;
    max-width: 1184px;
    width: 100%;
    min-height: 740px;
    margin: 92px auto;
}

.cover::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(42, 44, 47, .3);
    z-index: 2;
}

.cover:hover::after {
    background: rgba(42, 44, 47, .8);
    transition: background .4s;
}

@media screen and (max-width: 1024px) {
    .cover {
        max-width: 1024px;
        margin: 92px 0;
        min-height: 640px;
    }
}

@media screen and (max-width: 768px) {
    .cover {
        max-width: 768px;
        margin: 90px 0 88px;
        min-height: 480px;
    }
}

@media screen and (max-width: 320px) {
    .cover {
        max-width: 320px;
        margin: 66px 0 64px;
        min-height: 200px;
    }
}