.cover__content {
    position: relative;
    background-image: url(../../../images/cover.jpg);
    background-size: cover;
    max-width: 1184px;
    width: 100%;
    margin: 92px auto;
}

.cover__content::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.3);
    z-index: 2;
}

.cover__content:hover::after {
    background: rgba(0,0,0,.8);
    transition: background .4s;
}

@media screen and (max-width: 1024px) {
    .cover__content {
        max-width: 1024px;
        margin: 92px 0;
        height: 640px;
    }
}

@media screen and (max-width: 768px) {
    .cover__content {
        max-width: 768px;
        margin: 90px 0 88px;
        height: 460px;
    }
}

@media screen and (max-width: 320px) {
    .cover__content{
        max-width: 320px;
        margin: 66px 0 64px;
        height: 200px;
    }
}